body, html{
    height: 100%;
    width:100%;
    margin:0;
}

html {
    font-size: 1rem;
}

body {
    background-color: #6dc0d5;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #63cee9;
}

.navbar-light .navbar-brand:hover { 
    box-shadow: 0px 0px 7px -2px #007bff;
}

.navbar-light .navbar-toggler:focus { 
    outline: none; 
}

.navbar{
    background: white;
}
.navbar.scrolled {
    background: white;
    transition: background 500ms;
}

div#welcomingsection{
    color:white;
}

div#table{
    background-color: white;
}

hr{
    border-top: 1px solid white;
}