* {
    font-family: 'Catamaran', sans-serif;
}

body, html{
    height: 100%;
    width:100%;
    margin:0;
}

.container{
    height: 100%;
    width:auto;
}

body {
    background-color: rgb(109, 192, 213);
}

.navbar-light .navbar-nav .active>.nav-link {
    color: rgb(99, 206, 233);
}

.navbar-light .navbar-brand:hover { 
    box-shadow: 0px 0px 7px -2px rgb(109, 192, 213);
}

.navbar-light .navbar-toggler:focus { 
    outline: none; 
}

h1#welcoming-txt{
    color:white;
    font-size:3.5vw;
}

.navbar{
    background: white;
}
.navbar.scrolled {
    background: rgba(255, 255, 255, 0.822);
    transition: background 500ms;
    color:white;
}